.navbar{
    background-color: rgba(129, 192, 201, 0.888);
    overflow: hidden;
    /* padding: 14px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h1{
    text-align: center;
}
.h1:hover{
    text-decoration: underline;
}
.logo img{
    width: 100px;
    height: 100px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    margin-right: 30px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.navbar ul li a:hover {
    text-decoration: underline;
}
/* contenu */
.contenir h1{
    text-align: center;
    color: rgba(129, 192, 201, 0.888);
    font-size: 40px;
}
.contenir form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
.contenir label{
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}
.contenir input, .contenir textarea{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.contenir button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.contenir button:hover{
    background-color: rgba(129, 192, 201, 0.888);
    color: black ;
}
.position{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.position iframe{
    border: 2px solid rgba(129, 192, 201, 0.888);
    border-radius: 8px;
    box-shadow: 0 0 20px black;
    width: 600px;
    height: 450px;
}
.position iframe:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
h1{
    text-align: center;
    color: rgba(129, 192, 201, 0.888);
    font-size: 40px;
}
h1:hover {
    text-decoration: underline;
}
h2 {
    font-size: 30px;
}
h2:hover {
    color: rgba(129, 192, 201, 0.888);
    text-decoration: underline;
}
.form-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    max-width: 700px;
    margin: auto;
}
.form-container:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}

/* Style pour le pied de page */
.footer {
    background-color: rgba(129, 192, 201, 0.888);
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.footer p:hover {
    text-decoration: underline;
}