.navbar{
    background-color: green;
    overflow: hidden;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    margin-right: 30px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.navbar ul li a:hover {
    text-decoration: underline;
}