.menu{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(129, 192, 201, 0.888);
}
.menu ul li a:hover {
    background-color: black;
}
.menu > ul{
    display: flex;
    list-style: none;
    font-size: 30px;
}
.menu li a {
    text-decoration: none;
    display: block;
    padding:10px 20px;
    color: white;
}
.sous-menu{
    list-style: none;
    display: none; /*n'affiche pas */
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 25px;
    width: fit-content;
}
.menu-du-sous{
    position: relative;
}
.menu-du-sous:hover .sous-menu{
    display: block;
    background-color: rgba(129, 192, 201, 0.888);
}

/* contenu */
.box {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    max-width: 1000px;
    margin: auto;
}
.box h1 {
    text-align: center;
    color: rgba(129, 192, 201, 0.888);
}
.box h1:hover {
    text-decoration: underline;
}
.box h2 {
    font-size: 30px;
}
.box h2:hover {
    color: rgba(129, 192, 201, 0.888);
    text-decoration: underline;
}
.question {
    margin-bottom: 20px;
}
.question h3 {
    color: rgba(129, 192, 201, 0.888);
    font-size: 20px;
}
.question p {
    margin-left: 20px;
    font-size: 24px;
}
.question h3:hover {
    text-decoration: underline;
}
.question p:hover {
    text-decoration: underline;
}
/* Style pour le pied de page */
.footer {
    background-color: rgba(129, 192, 201, 0.888);
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.footer p:hover {
    text-decoration: underline;
}
