.non{
    background-image: url(logo\ accueil.jpg);
    background-size: cover;
}

/* body{
    background-color: rgba(129, 192, 201, 0.888);
} */
.menu{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(129, 192, 201, 0.888);
}
.menu ul li a:hover {
    background-color: black;
}
.menu > ul{
    display: flex;
    list-style: none;
    font-size: 30px;
}
.menu li a {
    text-decoration: none;
    display: block;
    padding:10px 20px;
    color: white;
}
.sous-menu{
    list-style: none;
    display: none; /*n'affiche pas */
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 25px;
    width: fit-content;
}
.menu-du-sous{
    position: relative;
}
.menu-du-sous:hover .sous-menu{
    display: block;
    background-color: rgba(129, 192, 201, 0.888);
}


/* Style pour le contenu */
.content {
    padding-left: 100px;
    padding-top: 10px;
}
.content p {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: black;

}
h1{
    text-align: center;
    padding: 20px;
}
.content button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
}
.content button:hover {
    background-color: rgba(129, 192, 201, 0.888);
    color: black;
}
.propos h1{
    text-align: center;
}
.propos h1:hover{
    text-decoration: underline;
}


/* Style pour le pied de page */
.footer {
    background-color: rgba(129, 192, 201, 0.888);
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.footer p:hover {
    text-decoration: underline;
}
