.navbar{
    background-color: green;
    overflow: hidden;
    /* padding: 14px 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo img{
    width: 100px;
    height: 100px;
}
.navbar ul {
    list-style-type: none;
    display: flex;
}
.navbar ul li {
    margin-right: 30px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.navbar ul li a:hover {
    text-decoration: underline;
}

/* Style pour le contenu */
.content {
    padding: 20px;
}
.content p {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: black;
}
.card {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px black;
}
.card h3 {
    margin-top: 0;
    color: green;
}
.card p {
    color: black;
    line-height: 1.6;
}
.card p:hover {
    text-decoration: underline;
}
.content button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.content button:hover {
    background-color: green;
}
.card img {
    width: 600px;
    height: 700px;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 15px;
}
.card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
h3 {
    font-size: 30px;
}
h3:hover {
    text-decoration: underline;
}
.card {
    display: flex;
    /* align-items: center; */
    gap: 40px;
}
h1{
    text-align: center;
    color: green;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
h1:hover {
    text-decoration: underline;
}
/* Style pour le pied de page */
.footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.footer p:hover {
    text-decoration: underline;
}

