.menu{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(129, 192, 201, 0.888);
}
.menu ul li a:hover {
    background-color: black;
}
.menu > ul{
    display: flex;
    list-style: none;
    font-size: 30px;
}
.menu li a {
    text-decoration: none;
    display: block;
    padding:10px 20px;
    color: white;
}
.sous-menu{
    list-style: none;
    display: none; /*n'affiche pas */
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 25px;
    width: fit-content;
}
.menu-du-sous{
    position: relative;
}
.menu-du-sous:hover .sous-menu{
    display: block;
    background-color: rgba(129, 192, 201, 0.888);
}

/* Style pour le contenu */
.content {
    padding: 20px;
}
.content p {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: black;
}
.card {
    border: 1px solid gray;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px black;
}
.card h3 {
    margin-top: 0;
    color: rgba(129, 192, 201, 0.888);
}
.card p {
    color: black;
    line-height: 1.6;
}
.card p:hover {
    text-decoration: underline;
}
.content button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.content button:hover {
    background-color: rgba(129, 192, 201, 0.888);
}
.card img {
    width: 600px;
    height: 700px;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 15px;
}
.card img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
h3 {
    font-size: 30px;
}
h3:hover {
    text-decoration: underline;
}
.card {
    display: flex;
    /* align-items: center; */
    gap: 40px;
}
h1{
    text-align: center;
    color: rgba(129, 192, 201, 0.888);
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
h1:hover {
    text-decoration: underline;
}
/* Style pour le pied de page */
.footer {
    background-color: rgba(129, 192, 201, 0.888);
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer p {
    margin: 0;
    font-size: 14px;
}
.footer p:hover {
    text-decoration: underline;
}

